 .bg{

    width: 100%;
    bottom: 0px;
    position: fixed;
    
}
.bg img{
    width:100% ;}

body{
    border: none;
    animation-name:col ;
    background-color: rgb(155, 145, 145);
    animation-name: col;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow-y: hidden;


}
.s{
    width: 13vh;
    height: 13vh;
    border: 0px solid black;
    margin:auto;
    position: relative;
    animation-name: sun;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}
.src{
    width: 100%;
    box-shadow: 0px 0px 30px 30px  rgba(246, 255, 0, 0.427);
    border-radius: 50%;
}

.cre{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 200px;
    background-color: transparent;
    box-shadow: -20px 10px white;
    animation-name:creation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    opacity: 0;


}
@keyframes creation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    80%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
@media(min-width:100px) and (max-width:1000px){

    .cre{
        width:50px ;
        height: 50px;
        margin-left: 100px;
    }
    .bg{
        bottom:0px;
    }
    .s{
        width: 10vh;
        height: 10vh;
    }
}
@keyframes sun {
   0%{
    top:0px;
   }
    100%{
        top:900px;
    }
}

@keyframes col {
    0%{
        background-color: white;
    }
    25%{
        background-color:rgb(226, 226, 140);
    }
    50%{
        background-color: rgb(209, 209, 77)
    }
    60%{
        background-color: yellow;
    }
    80%{
        background-color: rgb(155, 145, 145);
    }
    100%{
        background-color: rgb(110, 95, 95);
    }
}
@keyframes mon {
    0%{
        visibility: hidden;;
    }
   
    100%{
        visibility: visible;
    }
}
